[submodule "Plugins/AngelscriptGAS"]
	path = Plugins/AngelscriptGAS
	url = git@github.com:TDGameStudio/AngelscriptGAS.git
[submodule "Plugins/Angelscript"]
	path = Plugins/Angelscript
	url = git@github.com:TDGameStudio/UnrealAngelscriptPlugin.git
[submodule "Plugins/AngelscriptGameplayTags"]
	path = Plugins/AngelscriptGameplayTags
	url = git@github.com:TDGameStudio/AngelscriptGameplayTags.git
[submodule "Wiki"]
	path = Wiki
	url = git@github.com:TDGameStudio/AngelscriptWiki.git
[submodule "Tools/openspec"]
	path = Tools/openspec
	url = git@github.com:TDGameStudio/openspec.git
[submodule ".agents/skills/external/web/ui-ux-pro-max"]
	path = .agents/skills/external/web/ui-ux-pro-max
	url = git@github.com:nextlevelbuilder/ui-ux-pro-max-skill.git
[submodule ".agents/skills/external/archify"]
	path = .agents/skills/external/archify
	url = git@github.com:tt-a1i/archify.git
[submodule ".agents/skills/external/web/frontend-design"]
	path = .agents/skills/external/web/frontend-design
	url = git@github.com:anthropics/skills.git
